<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>affiliate_id</key>
	<string>260251</string>
	<key>host</key>
	<string>www.aww799.com</string>
	<key>installer_id</key>
	<string>80</string>
	<key>user_id</key>
	<string>149580781</string>
</dict>
</plist>
