[Desktop Entry]
Type=Application
Name=OpenOffice Writer
MimeType=application/x-wine-extension-dot;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen OpenOffice.Dot %f
NoDisplay=true
StartupNotify=true
Icon=71E1_swriter.0
