[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=text/html;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/glk_" wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
