[Desktop Entry]
Type=Application
Name=OpenOffice Calc
MimeType=application/x-wine-extension-xlsx;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen OpenOffice.Xlsx %f
NoDisplay=true
StartupNotify=true
Icon=30CB_scalc.0
