[Desktop Entry]
Type=Application
Name=OpenOffice Writer
MimeType=application/vnd.oasis.opendocument.text;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen opendocument.WriterDocument.1 %f
NoDisplay=true
StartupNotify=true
Icon=71E1_swriter.0
