[Desktop Entry]
Type=Application
Name=OpenOffice Draw
MimeType=application/vnd.oasis.opendocument.graphics;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen opendocument.DrawDocument.1 %f
NoDisplay=true
StartupNotify=true
Icon=0999_sdraw.0
