[Desktop Entry]
Type=Application
Name=OpenOffice Impress
MimeType=application/x-wine-extension-potm;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen OpenOffice.Potm %f
NoDisplay=true
StartupNotify=true
Icon=FA65_simpress.0
