[Desktop Entry]
Type=Application
Name=OpenOffice Impress
MimeType=application/vnd.sun.xml.impress;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen soffice.StarImpressDocument.6 %f
NoDisplay=true
StartupNotify=true
Icon=FA65_simpress.0
