[Desktop Entry]
Type=Application
Name=OpenOffice Writer
MimeType=application/vnd.sun.xml.writer.template;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen soffice.StarWriterTemplate.6 %f
NoDisplay=true
StartupNotify=true
Icon=71E1_swriter.0
