[Desktop Entry]
Type=Application
Name=OpenOffice Impress
MimeType=application/vnd.oasis.opendocument.presentation-template;
Exec=env WINEPREFIX="/Users/Fays/Library/PlayOnMac//wineprefix/Open_office_" wine start /ProgIDOpen opendocument.ImpressTemplate.1 %f
NoDisplay=true
StartupNotify=true
Icon=FA65_simpress.0
